.card {
  --animation: 0.2s ease;
  --mask-opacity: 0.75;
  --mask-opacity-hover: 0.6;
  list-style-type: none;
  display: block;
  padding: 2em 1em;
  margin: 1em 0;
  border-radius: 12px;
  background-position: center;
  background-color: var(--bg2);
  background-size: cover;
  position: relative;
  text-decoration: none;
  text-shadow: 0 0 12px var(--bg0_h);
}

.card .title,
.card .date {
  color: var(--orange2);
  position: relative;
  z-index: 10;
  transition: color var(--animation);
  margin: 0;
}

.card .tag-list li.project-name {
  color: var(--bg);
  transition: background-color var(--animation);
}

.card .title {
  line-height: 1;
}

.card:hover .title,
.card:hover .date,
.card:hover .tag-list li {
  color: var(--green2);
}

.card:hover .tag-list li.project-name,
.card:focus .tag-list li.project-name {
  background-color: var(--green2);
  color: var(--bg);
}

.card:focus .title,
.card:focus .date,
.card:focus .tag-list li {
  color: var(--green2);
}

.card .mask {
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg0);
  opacity: var(--mask-opacity);
  height: 100%;
  width: 100%;
  transition: opacity var(--animation);
}

.card:focus .mask,
.card:hover .mask {
  opacity: var(--mask-opacity-hover);
}

.card:active .mask {
  opacity: var(--mask-opacity);
}
