.tags-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0.7rem 0;
  line-height: 1.7;
  list-style: none;
  padding: 0;
}

.tags-list.center {
  justify-content: center;
}

.tag-pill {
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  color: var(--orange2);
  position: relative;
  z-index: 10;
  border-width: 2px;
  border-style: solid;
  border-color: var(--orange2);
  margin-right: 0.5rem;
  padding: 0 0.5rem;
  border-radius: 12px;
}

.tag-pill:hover,
.tag-pill:focus {
  color: var(--green2);
  border-color: var(--green2);
}

.tag-pill.project:hover,
.tag-pill.project:focus {
  border-color: var(--green2);
  background-color: var(--green2);
}

.tag-pill:last-child {
  margin: 0;
}

.tag-pill:last-child {
  margin-right: 0px;
}

.tag-pill.project {
  background-color: var(--orange2);
  color: var(--bg);
  text-shadow: initial;
}
