---
import '../../styles/tags.css'

import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { getCollection } from "astro:content";

const tags = await getCollection("tags")
const description = `Nick has written about ${tags.length} topics. Check them out here!`
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={"Tag list"} {description} />
  </head>
  <body>
    <Header />
    <main id="content-start">
      <h1>Tags</h1>
      <ul class="tag-list inline-flex">
        {
          tags.map(t => (<a class="tag-pill" href=`/tags/${t.id}`>
            <li>{t.data.name}</li>
          </a>))
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>

