---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={"404 error"}
      description={`404 error - couldn't find the page you're looking for`}
    />
    <style>
      main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      p {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <h3>Whoops!</h3>
      <code>404 Not Found</code>
      <p>The page you're looking for is not here ┐(´ー｀)┌</p>
    </main>
  </body>
</html>
