---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🍔💻Serving up tasty bytes since 2014</h1>
			<img></img>
			<h2>Nice to meet you!</h2>
			<p>My name's Nick Patti. I'm a software engineer with an appetite for learning and making cool stuff. Thanks for visiting!</p>
      <h2>Projects</h2>
			<p>Wanna see what I've been working on?</p>
			<ul class="project-list" >
			  <li>
				  <h3>MegaResume</h3>
					<p>Designed for users that have a wide breadth of skills, MegaResume allows users to quickly create resumes by filtering experience based on tags.</p>
					<ul class="tags">
						<li>Web development</li>
						<li>TypeScript</li>
						<li>HTML</li>
						<li>CSS</li>
					</ul>
				</li>
			  <li>
				  <h3>Sweet</h3>
					<p>This command line application tests the user's typing ability, but unlike other touch typing trainers, it focuses on writing code, and starts up almost instantaneously!</p>
					<ul class="tags">
						<li>Command Line Applications</li>
						<li>Go (Golang)</li>
					</ul>
				</li>
			  <li>
				  <h3>The Two Eyes in Team</h3>
					<p>A cooperative game in which two players each control a single eyeball in a person's head! I led this joint effort between UC Santa Cruz's Games and Playable Media program and SJSU's Shrunkenheadman Club.</p>
					<ul class="tags">
						<li>Game development</li>
						<li>Unity</li>
						<li>C#</li>
						<li>Project management</li>
					</ul>
				</li>
				<li>
				  <h3>TimeClock</h3>
					<p>This is an Android application that helped me keep on task and manage my time. To date, I have recorded over 360 hours worth of focus time. How useful!</p>
					<ul class="tags">
						<li>Mobile Development</li>
						<li>Android</li>
						<li>Kotlin</li>
					</ul>
				</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
