---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Cards from "@components/Cards.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import getPosts from "../utils/posts";

const recentPosts = (await getPosts()).slice(0, 3);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      hr {
        /* This is the same spacing as in the blog template */
        margin-top: 45.2px;
        margin-bottom: 50px;
      }

      .hero {
        position: relative;
      }

      .hero .serving,
      .hero .since {
        display: block;
        font-weight: bold;
        margin: 0 0 0.5rem;
        line-height: 1.2;
      }

      .hero .tasty {
        display: block;
        text-align: center;
        font-family: "Titan One";
        font-weight: normal;
        font-size: 6.6rem;
        line-height: normal;
        z-index: 100;
        margin: 0;
      }

      .hero .since {
        text-align: end;
      }

      .hero .burger {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        opacity: 0.66;
        z-index: -1;
        transform: rotate(5deg);
      }

      @media (max-width: 760px) {
        .hero .burger {
          transform: translate(-50%, -50%) rotate(5deg);
          top: 50%;
          left: 50%;
        }

        .hero .tasty {
          font-size: 6rem;
        }

        .hero .serving,
        .hero .tasty,
        .hero .since {
          text-align: center;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <div id="content-start" class="hero">
        <img
          src="burger.svg"
          alt="A cartoon cheeseburger with a flag sticking out"
          class="burger"
        />
        <h1>
          <span class="serving">Serving up</span>
          <span class="tasty">TASTY BYTES</span>
          <span class="since">since 2014</span>
        </h1>
      </div>
      <hr />
      <h2>Nice to meet you!</h2>
      <p>
        My name's Nick Patti. I'm a software engineer with an appetite for
        learning and making cool stuff. Thanks for visiting!
      </p>
      <h2>Recent blog posts</h2>
      <i>Here's what I've been thinking about!</i>
      <Cards posts={recentPosts} />
    </main>
    <Footer />
  </body>
</html>
