---
const today = new Date();
---

<footer>
  <a class="sr-only focusable-nav" href="#content-start">Return to top</a>
  <a class="sr-only focusable-nav" href="#nav-start">Return to navigation</a>
  &copy; {today.getFullYear()} NicksPatties. All rights reserved.
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: var(--bg1);
    background: linear-gradient(var(--bg0) 66%, var(--bg1));
    color: var(--fg3);
    text-align: center;
  }
</style>
