---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <h2>
      <a class="home" href="/">🍔 {SITE_TITLE}</a>
      <a class="home-small" href="/">🍔</a>
    </h2>
    <div>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/resume">Resume</HeaderLink>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: var(--bg1);
    background: linear-gradient(var(--bg1), var(--bg));
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }
  .home-small {
    display: none;
  }
  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--fg0);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--orange1);
  }
  /* Only display the burger */
  @media (max-width: 340px) {
    .home-small {
      display: inline;
    }

    .home {
      display: none;
    }
  }
  /* Stack home link and other nav links vertically */
  @media (max-width: 227px) {
    .home-small {
      display: none;
    }

    .home {
      display: inline;
    }

    nav {
      flex-direction: column;
    }
  }
</style>
