---
import TableOfContentsHeading from "@components/TableOfContentsHeading.astro";
const { headings } = Astro.props;

function buildToc(headings) {
  const toc = [];
  const parentHeadings = new Map();
  headings.forEach((h) => {
    const myHeading = { ...h, subheadings: [] };
    parentHeadings.set(myHeading.depth, myHeading);
    if (myHeading.depth === 1) {
      toc.push(myHeading);
    } else {
      parentHeadings.get(myHeading.depth - 1).subheadings.push(myHeading);
    }
  });
  return toc;
}

const toc = buildToc(headings)
---

<style>
  .toc {
    border-radius: 8px;
    padding: 1em;
    border: thin solid var(--bg2);
  }

  ul {
    --list-spacing: 40px;
    margin: 0;
  }

  nav {
    overflow: hidden;
  }

  input[type="checkbox"] + nav {
    display: none;
  }

  input[type="checkbox"]:checked + nav {
    display: block;
  }  
</style>
<div class="toc">
  <label for="toc-toggle">
    <span class="show">Show contents</span>
  </label>
  <input id="toc-toggle" type="checkbox" />
  <nav>
    <ul>
      {
        toc.map((heading) => <TableOfContentsHeading myHeading={heading} />)
      }
    </ul>
  </nav>
</div>
