<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NicksPatties: A Nick Patti Portfolio</title>
    <link href="fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <div class="section hero">
        <div class="hero-text-background-container">
          <div class="hero-text">
            <p>Serving up</p>
            <h1>TASTY</h1>
            <h1>BYTES</h1>
            <p class="two">since 2014</p>
          </div>
        </div>
        <div class="hero-background-container">
        </div>
      </div>

      <div class="section intro">
        <div class="profile-container">
          <div class="profile-picture-border">
            <div class="profile-picture-crop">
              <img class="profile-picture" src="images/profile_picture.jpeg">
            </div> 
          </div>
          <div class="profile-text">
            <h2>Nice to meet you!</h2>
            <p>My name's Nick Patti. I'm a software engineer with an appetite for learning and making cool stuff. Thanks for visiting!</p>
          </div>
        </div>
      </div>

      <div class="section projects">
        <div class="fancy-heading">
          <p>Wanna see what I've been working on?</p>
          <h1>PROJECTS</h1>
          <img class="flourish" src="images/flourish.png"/>
        </div>
        <div class="project-list">
          {{ range where .Site.Pages "Section" "==" "projects" }}
            {{ if ne .File.ContentBaseName "projects" }}
              {{ partial "project-container.html" (dict "title" .Params.title "description" .Params.description "tags" .Params.tags) }}
            {{ end }}
          {{ end }}
        </div>
      </div>

      <div class="section companies">
        <h2>You may have seen me working at these companies...</h2>
        <div class="company-list">
          <a class="company oomba" href="resume#oomba-inc">
          </a>
          <a class="company amazon" href="resume#amazon-fulfillment-technologies-amazoncom-inc">
          </a>
          <a class="company disney" href="resume#the-walt-disney-company">
          </a>
          <div class="company yours">
            <a href="#contact">Yours, perhaps?</a>
          </div>
        </div>
        <img class="flourish"  src="images/flourish.png"/>
      </div>

      <div id="contact" class="section contact">
        <div class="fancy-heading">
          <p>Like what you see?</p>
          <h1>CONTACT ME!</h1>
          <img class="flourish" src="images/flourish.png"/>
        </div>
        <div class="contact-row">
          <a href="https://www.linkedin.com/in/nick-patti-34675053/">
            <i class="contact-icon fa-brands fa-linkedin"></i>
          </a>

          <a href="mailto:nickspatties@gmail.com">
            <p class="contact-icon">@</p>
          </a>
        </div>
      </div>
    </main>
    <footer>
      <p>Made with ❤️ and 💨 by Nick Patti</p>
    </footer>
  </body>
  
</html>