<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NicksPatties: A Nick Patti Portfolio</title>
    <link href="fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <div class="section hero">
        <div class="hero-text-background-container">
          <div class="hero-text">
            <p>Serving up</p>
            <h1>TASTY</h1>
            <h1>BYTES</h1>
            <p class="two">since 2014</p>
          </div>
        </div>
        <div class="hero-background-container">
        </div>
      </div>

      <div class="section intro">
        <div class="profile-container">
          <div class="profile-picture-border">
            <div class="profile-picture-crop">
              <img class="profile-picture" src="images/profile_picture.jpeg">
            </div> 
          </div>
          <div class="profile-text">
            <h2>Nice to meet you!</h2>
            <p>My name's Nick Patti. I'm a software engineer with an appetite for learning and making cool stuff. Thanks for visiting!</p>
          </div>
        </div>
      </div>

      <div class="section projects">
        <div class="fancy-heading">
          <p>Wanna see what I've been working on?</p>
          <h1>PROJECTS</h1>
          <img class="flourish" src="images/flourish.png"/>
        </div>
        <div class="project-list">
          <!-- start range of projects in here-->
          {{ partial "project-container.html" (dict "title" "MegaResume" "description" "A resume building application that does some really cool stuff. This is the text for the beginning of the document. This is about three lines worth of text. Neato!") }}

          {{ partial "project-container.html" (dict "title" "Sweet" "description" "A command line application that test your typing abiliity! Focused on software engineers, typing blah blah heck yeah super cool.")}}

          {{ partial "project-container.html" (dict "title" "The Two Eyes in Team" "description" "Another project that is really cool. This is a video game that I made many years ago while I was making fun stuff for school! Still impressive and fun looking!")}}

          {{ partial "project-container.html" (dict "title" "TimeClock" "description" "This is an Android application that helped me keep on task and manage my time. To date, I have recorded over 360 hours worth of focus time. How useful!")}}
          <!-- end range of projects-->
        </div>

      </div>

      <div class="section companies">
        <h2>You may have seen me working at these companies...</h2>
        <div class="company-list">
          <div class="company oomba">
          </div>
          <div class="company amazon">
          </div>
          <div class="company disney">
          </div>
          <div class="company yours">
            <p>Yours, perhaps?</p>
          </div>
        </div>
        <img class="flourish"  src="images/flourish.png"/>
      </div>

      <div class="section contact">
        <div class="fancy-heading">
          <p>Like what you see?</p>
          <h1>CONTACT ME!</h1>
          <img class="flourish" src="images/flourish.png"/>
        </div>
        <div class="contact-row">
          <i class="contact-icon fa-brands fa-linkedin"></i>
          <p class="contact-icon">@</i>
        </div>
      </div>
    </main>
    <footer>
      <p>Made with ❤️ and 💨 by Nick Patti</p>
    </footer>
  </body>
  
</html>