<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NicksPatties: A Nick Patti Portfolio</title>
    <link href="styles/style.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <div class="section hero">
        <div class="hero-text">
          <p>Serving up</p>
          <h1>TASTY</h1>
          <h1>BYTES</h1>
          <p class="two">since 2014</p>
        </div>
      </div>
      <div class="section intro">
        <div class="profile-container">
          <div class="profile-picture-border">
            <div class="profile-picture-crop">
              <img class="profile-picture" src="images/profile_picture.jpeg">
            </div> 
          </div>
          <div class="profile-text">
            <h2>Nice to meet you!</h2>
            <p>My name's Nick Patti. I'm a software engineer with an appetite for learning and making cool stuff. Thanks for visiting!</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>