---
import Project from "@layouts/Project.astro";
import { type CollectionEntry, getCollection, getEntry } from "astro:content";

type Project = CollectionEntry<"projects">;
type Tag = CollectionEntry<"tags">;

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((p: Project) => {
    return {
      params: { id: p.id },
      props: {
        project: p,
      },
    };
  });
}

const { id } = Astro.params;
const project = Astro.props.project as Project;
---

<Project {project}>
  {project.data.description}
  <h1>Motivation</h1>
  <p>{project.data.motivation}</p>
  <h1>Goals</h1>
  <p>These are the goals</p>
  <h2>Metrics</h2>
  <p>For this to be successful, I need</p>
</Project>
