---
import Project from "@layouts/Project.astro";
import { type CollectionEntry, getCollection, getEntry } from "astro:content";

type Project = CollectionEntry<"projects">;
type Tag = CollectionEntry<"tags">;

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((p: project) => {
    return {
      params: { id: p.id },
      props: {
        project: p,
      },
    };
  });
}

const { id } = Astro.params;
const project = Astro.props.project as Project;
console.log("inside [id]");
console.log("project", project);
---

<Project {project}>
  <h1>Motivation</h1>
  {project.data.motivation}
</Project>
